@CHARSET "UTF-8";
*{margin: 0px ;padding: 0px}
#iRoiRo{height:3518px ;width:1403px;border:1px solid red;margin: 0 auto}
.naka{width: 100%;}
.move{margin: 0 auto ;height: 720px;width: 1280px;border:1px soild red}
.move div{margin:0 auto}